<div class="admin-panel">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h6>DASHBOARD</h6>
				<h2>List of users</h2>
					<%= render 'users' %>
			</div>
			<div class="col-xs-12">
			</div>
		</div>
	</div>
</div>

