  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<div class="parallax about-us-header">
		<div class="container">
			<div class="caption">
				<span class="welcome-title">About us!</span>
			</div>
		</div>
</div>
<div class="container">
	<div class="row">
		
		<div class="col-md-6">
			<ul class="contact-icons">
              <li><div class="social-icons icon-home-house-streamline"></div>Sarajevo, Bosnia and Herzegovina</li>
              <li><div class="social-icons icon-email-mail-streamline"></div>grcicsanela89@gmail.com</li>
              <li><div class="social-icons icon-streamline-suitcase-travel"></div>Web develper</li>
      </ul>
		</div>
		<div class="col-md-6">
			<ul class="contact-icons">
              <li><a href="https://github.com/sanella"><div class="social-icons icon-social-github"></div>Sanella</a></li>
              <li><a href="https://www.linkedin.com/in/sanela-grci%C4%87-646727b0?trk=hp-identity-photo"><div class="social-icons icon-linkedin"></div>Sanela Grcic</a></li>
              <li><div class="social-icons icon-streamline-suitcase-travel"></div>Web develper</li>
      </ul>
		</div>
	</div>
</div>

<div id="map"></div>
