<div class="parallax home-header">
		<div class="container">
			<div class="caption">
				<span class="welcome-title">Welcome to student service app!</span>
			</div>
		</div>
</div>
<div class="container">
	<div class="row">
		<section>
			<div class="col-md-4">
				<div class="home-blocks">
					<div class="home-blocks-icon icon-gear-b"></div>
					<p>
						Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="home-blocks">
					<div class="home-blocks-icon icon-android-bulb"></div>
					<p>
						Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="home-blocks">
					<div class="home-blocks-icon icon-clock-time-outline"></div>
					<p>
						Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
					</p>
				</div>
			</div>
		</section>
	</div>
	<section>
	</section>
</div>
<div class="parallax middle-promo">
	<div class="container">
				<div class="smart-quote">If you are the smartest person in the room<br/> then you are in the wrong room</div>
		</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="green-font">Student Service</h3>
			<p class="two-column">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</div>
	</div>
</div>
<!-- Footer -->
<%= render 'layouts/footer' %>
