<div class="admin-panel">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h6>DASHBOARD</h6>
				<h2>List of professors</h2>
				  <%= render 'professors' %>
			</div>
		</div>
	</div>
</div>