<table class="table">
	<thead>
		<tr>
			<td>Subject</td>
			<td>ETCS</td>
			<td>Year</td>
			<td>Show</td>
		</tr>
	</thead>
	<tbody>
		<% @subjects.each do |subject| %>
			<tr>
				<td><%= subject.name %></td>
				<td><%= subject.etcs %></td>
				<td><%= subject.year %></td>
				<td><%= link_to "Show", subject_path(subject) %></td>
			</tr>
		<%end%>
	</tbody>
</table>